params {

  outdir = './output'
  reportdir = './reports'

}


profiles {

  local {
    process.executor = 'local'
  }

  standard {
    includeConfig 'conf/base.config'
  }

  docker {
    includeConfig 'conf/images.config'
    docker.enabled = true
    docker.runOptions = '-u $(id -u):$(id -g)'
  }

  singularity {
    includeConfig 'conf/images.config'
    includeConfig 'conf/lsf.config'
  }

}


timeline {
  enabled = false
  file = "${params.reportdir}/timeline.html"
}


trace {
  enabled = false
  file = "${params.reportdir}/trace.txt"
}
